.App {
  width: 100vw;
  height: 100vh;
  background-color: #ECECEC;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 275px;
  background-color: #58AAB9;
}

.icon {
  margin: 0;
  height: 2em;
  padding-right: 1em;
}

.SidebarList {
  height: 100%;
  width: 100%;
  padding: 0;
}

.SidebarList .row {
  margin: 0;
  width: 100%;
  height: 50px;
  padding-top: 1em;
  padding-bottom: 3em;
  list-style-type: none;
  color: #ECECEC;
  display: flex;
  flex-direction: row;
}

.SidebarList .row:hover {
  cursor: pointer;
  color: #58AAB9;
  background-color: #ECECEC;
}

.SidebarList #active{
  color: #ECECEC;
  background-color: #3b8a96;
}

.container {
  padding: 5em;
  border-radius: 25px;
}

.logo {
  font-size: larger;
  text-align: center;
  padding: 3em;
  border-bottom: solid #ECECEC;
  border-bottom-style: inset;
  border-bottom-width: 10px;
}