.App {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  width: 100vw;
  background-color: #ECECEC;
  display: flex;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0px;
}

.Sidebar {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 275px;
  background-color: #58AAB9;
  box-shadow: 10px 0px 2px 0px rgba(0, 0, 255, .2);
}

.icon {
  margin: 0;
  height: 2em;
  padding-right: 1em;
  color: #ECECEC;
}

.SidebarList {
  width: 100%;
  padding: 0;
}

.SidebarList .row {
  margin: 0;
  width: 100%;
  height: 50px;
  padding-top: 1em;
  padding-bottom: 3em;
  list-style-type: none;
  color: #ECECEC;
  display: flex;
  flex-direction: row;
}

.SidebarList .row:hover {
  cursor: pointer;
  color: #58AAB9;
  background-color: #ECECEC;
}

.SidebarList #active{
  color: #ECECEC;
  background-color: #3b8a96;
}

.container {
  display: inline-block;
  padding-top: 5em;
  padding-right: 5em;
  height: 100vh;
  color: #58AAB9;
}

.logoContainer {
  font-size: larger;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  color: #ECECEC;
}

.logo {
  margin: 0;
  height: 6em;
  color: #ECECEC;
}

.mediaDirectory{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 10px;
}

.table-responsive {
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
  border-collapse: separate;
  border-radius: 20px;
  display: inline-block;
  width: 750px;
}

tr:hover td
{
  color: white;
  background-color:#58AAB9;
}

thead{
  position: sticky;
  top: 0;
}

table {
  color: #717171;
  display: inline-block;
  overflow-y: scroll;
  height: 550px;
}

.search{
  width: 300px;
}

.mediaInfoContainer {
  height: auto;
  margin-left: 2em;
  position: absolute;
  display: inline-block;
}

.mediaInfo {
  box-shadow: inset 5px 5px 2px 1px rgba(0, 0, 255, .2);
  background-color: white;
  border-radius: 20px;
  width: 400px;
  color: #717171;
}

.mediaInfo, li
{
  list-style: none;
  padding: 10px;
}

button
{
  float: right;
  padding:10px;
}